<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BoardProjectStudy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
    <filter-name>enCodingFilter</filter-name>
    <filter-class>Filter.enCodingFilter</filter-class>
    <init-param>
      <param-name>encodingType</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>enCodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <!--  
    	모든 페이지에서 인코딩 필터가 필요함으로 모든 페이지 요청시에 다 적용될 수 있도록 위처럼 url-pattern을 지정한다.
    -->
  </filter-mapping>
  
  <filter>
    <filter-name>LoginCheckFilter</filter-name>
    <filter-class>Filter.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/changePwd.do</url-pattern>
   	<url-pattern>/write.do</url-pattern>
    <!--  
    	모든 페이지에서 인코딩 필터가 필요함으로 모든 페이지 요청시에 다 적용될 수 있도록 위처럼 url-pattern을 지정한다.
    -->
  </filter-mapping>
  
  
  
  <servlet>
  	<servlet-name>ControllerUsingURI</servlet-name>
  	<servlet-class>Board.ControllerUsingURI</servlet-class>
  	<load-on-startup>1</load-on-startup>
  	<!-- 
  		컨트롤러에서 수행할 객체들을 서버 실행시 init이 바로 호출될 수 있도록 load-on-startup을 세팅한다.
  	 -->
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerUsingURI</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <!-- 
  	모든 페이지의 요청이 Controller를 지날 수 있도록 패턴을 지정한다.
   -->
</web-app>